.portfolio-site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex: 1;
}
.container {
  margin-right: auto;
  margin-left: auto;
}

.list-horizontal {
  .list-item {
    display: inline-block;
  }
}

.text {
  &-center{
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-left {
    text-align: left;
  }
}