.portfolio-site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex: 1;
}
.container {
  margin-right: auto;
  margin-left: auto;
}

.list-horizontal {
  .list-item {
    display: inline-block;
  }
}

.text {
  &-center{
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-left {
    text-align: left;
  }
}
.extra-padding {
  padding: 40px;
  &-left {
    padding-left: $padding;
  }
  &-right {
    padding-right: $padding;
  }
  &-bottom {
    padding-bottom: $padding;
  }
  &-top {
    padding-top: $padding;
  }
}
.no-padding {
  padding: 0;
  &-left {
    padding-left: 0;
  }
  &-right {
    padding-right: 0
  }
  &-bottom {
    padding-bottom: 0;
  }
  &-top {
    padding-top: 0;
  }
}