h2,
h3,
.h2,
.h3,
.label {
  text-transform: uppercase;
}
h3 {
  margin-top: 10px;
}

p {
  margin: 20px 0;
}

ul {
  margin-bottom: 20px;
}
.label {
  font-weight: 700;
}
.underline {
  position: relative;
  width: 145px;
  line-height: 30px;
  &-bottom {
    @extend .underline;
    border-bottom: 1px solid $black;
  }
  &-top {
    @extend .underline;
    border-top: 1px solid $black;
  }
}