/* GENERAL FONT STYLING (GROUPINGS) */
div,
body,
p,
li,
span {
  font-size: 14px;
}
h2,
h3,
.h2,
.h3,
.label {
  text-transform: uppercase;
}
.h1-xl {
  font-size: 60px;
  line-height: 48px;
  text-transform: uppercase;
  border-bottom: $border-thin $black solid;
  padding-bottom: 21px;
}
h2,
.h2 {
  font-size: 21px;
}
h3,
.h3 {
  font-size: 18px;
  letter-spacing: 1px;
}

/* DETAILED FONT STYlING  */
h3 {
  margin-top: 10px;
}

p {
  margin: 20px 0;
}

ul {
  margin-bottom: 20px;
}
.label {
  font-weight: bold;
  font-size: 18px;
}

.underline {
  position: relative;
  &-bottom {
    @extend .underline;
    border-bottom: 1px solid $black;
  }
  &-top {
    @extend .underline;
    border-top: 1px solid $black;
  }
  @media (max-width: $breakpoint-small) {
    width: 100%;
  }
}
.bold {
  font-weight: bold;
}