/* Basic Colors */
.logo {
  width: 90px;
  height: 97px;
  background-size: 100%;
  background-image: url("/images/logo/overbore_logo.svg");
  font-size: 0; }
  @media (max-width: 768px) {
    .logo {
      margin: 0 auto; } }

.row {
  margin: 0; }

.portfolio-site {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

img {
  width: 100%;
  height: auto; }

.main-content {
  flex: 1; }

.invisible {
  visibility: hidden; }

.container {
  margin-right: auto;
  margin-left: auto; }

.list-horizontal .list-item {
  display: inline-block; }
  @media (max-width: 768px) {
    .list-horizontal .list-item {
      display: block; } }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.extra-padding {
  padding: 40px; }
  @media (min-width: 768px) {
    .extra-padding-left {
      padding-left: 40px; }
    .extra-padding-right {
      padding-right: 40px; }
    .extra-padding-bottom {
      padding-bottom: 40px; }
    .extra-padding-top {
      padding-top: 40px; } }

.no-padding {
  padding: 0; }
  @media (min-width: 768px) {
    .no-padding-left {
      padding-left: 0; }
    .no-padding-right {
      padding-right: 0; }
    .no-padding-bottom {
      padding-bottom: 0; }
    .no-padding-top {
      padding-top: 0; } }

.no-margin {
  margin: 0; }
  .no-margin-left {
    margin-left: 0; }
  .no-margin-right {
    margin-right: 0; }
  .no-margin-bottom {
    margin-bottom: 0; }
  .no-margin-top {
    margin-top: 0; }

/* GENERAL FONT STYLING (GROUPINGS) */
div,
body,
p,
li {
  font-size: 14px; }

h2,
h3,
.h2,
.h3,
.label {
  text-transform: uppercase; }

h2,
.h2 {
  font-size: 21px; }

h3,
.h3 {
  font-size: 18px;
  letter-spacing: 1px; }

/* DETAILED FONT STYlING  */
h3 {
  margin-top: 10px; }

p {
  margin: 20px 0; }

ul {
  margin-bottom: 20px; }

.label {
  font-size: 18px; }

.underline, .underline-bottom, .underline-top {
  position: relative;
  width: 145px;
  line-height: 30px; }
  .underline-bottom {
    border-bottom: 1px solid #000000; }
  .underline-top {
    border-top: 1px solid #000000; }

a:visited {
  color: inherit; }

a:hover {
  background-color: #fff; }

.link-fade-bg {
  transition: color 0.55s, background-color 0.55s; }
  .link-fade-bg:hover {
    transition: color 0.65s, background-color 0.75s; }

.bg-color-red {
  background-color: #ff0000; }

.bg-color-blue {
  background-color: #000000; }

h1 {
  font-size: 25px;
  color: #ff0000; }

.header {
  height: 120px; }
  @media (max-width: 768px) {
    .header {
      height: 100%; } }

@media (max-width: 480px) {
  .main-nav {
    padding: 0; } }

.main-nav .mn-item {
  margin-right: 20px; }
  .main-nav .mn-item:last-child {
    margin-right: 0; }
  @media (max-width: 768px) {
    .main-nav .mn-item {
      margin-right: 0; } }

.main-nav .mn-link {
  padding: 7px 7px 7px 0;
  width: 112px;
  display: block;
  border: 2px solid #000000;
  border-top: 7px solid #000000;
  line-height: 23px;
  text-align: right;
  text-decoration: none; }
  .main-nav .mn-link:hover {
    color: #ffffff;
    background-color: #000000; }
  @media (max-width: 768px) {
    .main-nav .mn-link {
      padding-left: 0;
      padding-right: 0; } }

.project-grid .pg-item {
  margin-bottom: 40px; }

.project-grid .pg-link {
  position: relative;
  height: 100%;
  display: block;
  border: 2px solid #000000;
  color: #ffffff;
  text-decoration: none; }
  .project-grid .pg-link:hover img {
    opacity: .65; }

.project-grid img {
  display: block; }

.project-grid .pg-thumb-title {
  padding-left: 14px;
  height: 35px;
  background-color: #000000;
  line-height: 40px;
  text-align: left; }

.project-highlight {
  min-height: 460px;
  position: relative;
  background-color: #cccccc;
  margin: 30px 0;
  border: 2px solid #000000; }
  .project-highlight img {
    width: 100%;
    height: auto; }

.project-info {
  margin-top: 40px; }
  .project-info .pi-summary {
    margin: 28px 0; }
  .project-info .pi-left {
    position: relative;
    border-top: 2px solid #000000; }
  .project-info .pi-right {
    border-top: 2px solid #000000; }
  .project-info .pi-header {
    position: relative;
    margin: 16px 0;
    width: 145px;
    line-height: 30px;
    border-bottom: 2px solid #000000; }

.about-section {
  margin-bottom: 40px; }
  .about-section .as-text {
    margin-top: 40px;
    border-top: 3px solid #000000; }
  .about-section .as-picture {
    height-min: 100%; }

.footer {
  height: 28px;
  margin: 42px 0 14px 0;
  color: #000000; }
  .footer .f-content {
    border-top: solid 7px #000000;
    display: inline;
    text-align: right;
    padding-left: 28px;
    padding-top: 21px;
    line-height: 28px; }

.project-shots .ps-images {
  position: relative; }

.project-shots .ps-image {
  position: relative;
  margin-bottom: 14px; }

.project-shots img {
  position: relative;
  width: 100%;
  height: auto; }

.project-quote {
  margin: 42px 0;
  padding: 28px 21px;
  border: 2px solid #000000;
  border-top: 7px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center; }
  .project-quote .pq-text {
    text-align: center;
    font-size: 45px;
    line-height: 52px;
    color: #ffffff; }

.thumbnail-nav .tn-item {
  margin-bottom: 40px; }

.thumbnail-nav .tn-link {
  position: relative;
  height: 100%;
  display: block;
  border: 2px solid #000000;
  color: #ffffff;
  text-decoration: none; }
  .thumbnail-nav .tn-link:hover img {
    opacity: .65; }

.thumbnail-nav img {
  display: block; }

.thumbnail-nav .tn-thumb-title {
  padding-left: 14px;
  height: 35px;
  background-color: #000000;
  line-height: 40px;
  text-align: left; }

.nivo-control {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-left: 7px;
  background-image: url("/images/icons/nivo_control.png");
  background-position: 0 0;
  font-size: 0; }
  .nivo-control.active {
    background-position: -11px 0; }
