.footer {
  height: 28px;
  margin: 42px 0 14px 0;
  color: $black;
  .f-content {
    border-top: solid 7px $black;
    display: inline;
    text-align: right;
    padding-left: 28px;
    padding-top: 21px;
    line-height: 28px;
    @media (max-width: $breakpoint-medium) {
      padding: 21px 28px;
    }
  }
}