.header {
  height: 120px;
  margin-bottom: 28px;
  @media (max-width: 768px) {
    height: 100%;
  }
}
.main-nav {
  @media (max-width: 480px) {
    padding: 0;
  }
  .mn-item {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 768px) {
      margin-right: 0;
      display: inline-block;
    }
  }
  .mn-link {
    padding: 7px 7px 7px 0;
    width: 112px;
    display: block;
    border: 2px solid $black;
    border-top: 7px solid $black;
    line-height: 23px;
    text-align: right;
    text-decoration: none;
    &:hover {
      color: $white;
      background-color: $black;
    }
    @media (max-width: 768px) {
     padding-left: 0;
     padding-right: 0;
     border: none;
     width: 100%;
    }
  }
}