.project-grid {
  .pg-item {
    margin-bottom: 40px;
  }
  .pg-link {
    position: relative;
    height: 100%;
    display: block;
    border: $border-thin solid $black;
    color: $white;
    text-decoration: none;
    overflow: hidden;
    &:hover {
      border-color: $blue_highlight;
      img {
        opacity: .65;
      }
      .pg-thumb-title {
        //display: block;
        bottom: 0;
         -webkit-transition: bottom 0.65s;
         transition: bottom 0.65s;
      }
    }
    @media (max-width: 768px) {
      border-color: $blue_highlight;
      .pg-thumb-title {
        display: block;
        bottom: 0;
      }
    }
  }
  img {
    display: block;
  }
  .pg-thumb-title {
    //display: none;
    position: absolute;
    bottom: -76px;
    width: 100%;
    background-color: $blue_highlight;
    text-align: left;
    -webkit-transition: bottom 0.65s;
    transition: bottom 0.65s;
    p {
      padding: 14px;
    }
    span {
      display: block;
      margin-top: 10px;
      font-weight: 100;
    }
  }
}