.project-info {
  margin-top: 40px;
  .pi-summary {
    margin: 28px 0;
  }
  .pi-left {
    position: relative;
    border-top: 2px solid $black;
  }
  .pi-right {
    border-top: 2px solid $black;
  }
  .pi-header {
    position: relative;
    margin: 16px 0;
    width: 145px;
    line-height: 30px;
    border-bottom: 2px solid $black;
  }
  // .pi-image-main {

  // }
  // .pi-image-support-right {

  // }
  // .pi-image-support-left {

  // }
}