//
.project-grid {
  .pg-item {
    margin-bottom: 40px;
  }
  .pg-link {
    position: relative;
    height: 100%;
    display: block;
    border: 2px solid $black;
  }
  img {
    width: 100%;
    height: auto;
  }
}