.project-info {
  margin-top: 40px;
  .pi-summary {
    margin-top: 28px;
  }
  .pi-left {
    position: relative;
    border-top: 3px solid $black;
  }
  .pi-right {
    border-top: 3px solid $black;
  }
  .pi-header {
    position: relative;
    margin: 16px 0;
    width: 145px;
    line-height: 30px;
    border-bottom: 1px solid $black;
  }
  .pi-images {
    position: relative;
  }
  .pi-image{
    position: relative;
  }
  img {
    position: relative;
    width: 100%;
    height: auto;
  }
  // .pi-image-main {

  // }
  // .pi-image-support-right {

  // }
  // .pi-image-support-left {

  // }
}