.services-grid {
  // .sg-service {

  // }
  .sg-h2 {
    padding-bottom: 7px;
    margin-bottom: 7px;
  }
  .sg-header {
    margin-bottom: 7px;
  }
  .sg-image {
    background-color: $grey ;
  }
}