.thumbnail-nav {
  .tn-item {
    margin-bottom: 40px;
  }
  .tn-link {
    position: relative;
    height: 100%;
    display: block;
    border: 2px solid $black;
    color: $white;
    text-decoration: none;
    &:hover {
      img {
        opacity: .65;
      }
    }
  }
  img {
    display: block;
  }
  .tn-thumb-title {
    padding-left: 14px;
    height: 35px;
    background-color: $black;
    line-height: 40px;
    text-align: left;
  }
}