.logo {
  width: 90px;
  height: 97px;
  background-size: 100%;
  background-image: url("/images/logo/overbore_logo.svg");
  span {
    font-size: 0;
  }
  @media (max-width: $breakpoint-medium) {
    margin: 0 auto;
  }
}