<div class="import-export">
  <h2>Import/Export</h2>
  <div class="import-buttons js-toggle-action">

    <button class="button js-comfy-import" style="margin-bottom: 16px">comfy import</button><br>
    <!-- <button id="qa-prod" class="button deploy-qa js-deploy-comfy" data-env="animoto.com">Push to Prod</button> -->

  </div>
  <div class="loading-fixtures js-toggle-action" style="display: none">
  <p>Updating CMS...</p>
  </div>
</div>
<script>
  $('.js-comfy-import').on('click', function(event) {
    event.preventDefault();
    var clicked  = $(this),
        base_url = "<%= request.base_url %>";
        // target_env = clicked.data("env");

    $(".js-toggle-action").toggle();

    function importComplete() {
      $(".js-toggle-action").toggle();
    }

    function importError() {
      $(".js-toggle-action").toggle();
      alert("something is broken, consult a developer");
    }

    $.ajax({
      url  : base_url + '<%= comfy_import_path %>',
      error: importError

    }).done(function(data) {
      alert('finished');
      importComplete();
    });
  });
</script>